*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    font-family: var(--ff-Space-Grotes);
   background-color: #11112B;
    ::-webkit-scrollbar {
    display: none;
    }
}

img {
    display: block;
}

a {
    color: inherit;
    outline: none;
}  
input,
button,
textarea {
    font-family: inherit;
}

button {
   cursor: pointer;
}
:root {
    /* ========== Colors ========== */
    --bg-body: #11112B;
    --Light-Gray: #D5D9E5;
    --Light-blue:#92DEED;
    --FloralWhite:#D9D9D9;

    --clr-white: #FFFFFF;
    --clr-Dark-blue: #11112B;
    --clr-Light-blue: #92DEED;

    /* ==========Font========== */

    --ff-Space-Grotesk:'Space Grotesk', sans-serif;
    --ff-Poppins:'Poppins', sans-serif;

    /* ==========Size========== */

    --heading-2xl: 12.5rem; //200px
    --heading-xl: 6.25rem; //100px
    --heading-lg: 3.5rem; //56px
    --heading-md: 2rem;  //32px
    --heading-sm: 1rem; //16px

    --paragraph-md: 1.5rem; //24px
    --paragraph-sm: 1.25rem; // 20px

    /* ==========Weight========== */
    
    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-normal: 400;
    --fw-small: 300;
}